[Unit]
Description=LucyEngine
After=network.target
StartLimitIntervalSec=90
StartLimitBurst=5

[Service]
WorkingDirectory=/var/data/iviva/LucyEngine
ExecStart=/var/data/iviva/LucyEngine/LucyEngine
Restart=on-failure
#Restart service after 3 seconds if the service crashes
RestartSec=5
Environment=IVIVA_CONFIG_PATH=/var/data/iviva/iviva.config.yml
Environment=LucyServer=localhost:9090

[Install]
WantedBy=multi-user.target

